DOMAIN_DB=db.domain.site
INPUT_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=db_project

POSTGRES_1C_USER=postgres
POSTGRES_1C_PASSWORD=password

DOMAIN_REDIS=redis.domain.site
REDIS_ADMIN_PASSWORD=password